@page "/categories";
@using Expense_Tracker.Service;
@using Expense_Tracker.Data.Models;
@inject CategoryService service;


<h3>Categories</h3>
<ul>
	<ul>
		@foreach (var category in service.GetCategories())
		{
			<li>@category.Name</li>
			<button @onclick="()=>deleteCategosy(category.Id)">Delete</button>
		}
	</ul>
</ul>
<input @bind="userInput"/>
<button @onclick="NewCategory">Add new category</button>
@code {


	private string userInput;
	public void NewCategory()
	{
		service.AddCategory(new Category { Name = userInput });
	}
	public void deleteCategosy(int id)
	{
		service.DeleteCategory(id);

	}

}
